<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Sistema de gestao da Casa Militar">
    <meta name="keywords" content="HTML, CSS, JavaScript, PHP, MySQL">
    <meta name="author" content="cleverdeveloper">

    <!-- App favicon -->
    <link rel="shortcut icon" href="resources/views/assets/images/favicon.ico">
    <!-- third party css -->
    <link href="resources/views/assets/css/vendor/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
    <link href="resources/views/assets/css/vendor/dataTables.bootstrap5.css" rel="stylesheet" type="text/css" />
    <link href="resources/views/assets/css/vendor/responsive.bootstrap5.css" rel="stylesheet" type="text/css" />
    <!-- third party css end -->
    <!-- App css -->
    <link href="resources/views/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="resources/views/assets/css/app.min.css" rel="stylesheet" type="text/css" id="app-style"/>
    <link rel="stylesheet" href="resources/views/assets/css/remixicon.css">
    <link rel="stylesheet" href="resources/views/assets/css/demoButtons.css">


    <script src="resources/views/assets/js/jquery-3.7.1.min.js"></script>
    <script src="resources/views/assets/js/webcam.min.js"></script>
    <script defer async src="resources/views/assets/js/face-api.min.js"></script>
    <script src="resources/views/alert/js/sweetalert2.min.js"></script>
     <!-- third party css -->

     <!-- SimpleMDE css -->
     <link href="resources/views/assets/css/vendor/simplemde.min.css" rel="stylesheet" type="text/css" />

     <!-- Quill css -->
     <link href="resources/views/assets/css/vendor/quill.bubble.css" rel="stylesheet" type="text/css" />
     <link href="resources/views/assets/css/vendor/quill.core.css" rel="stylesheet" type="text/css" />
     <link href="resources/views/assets/css/vendor/quill.snow.css" rel="stylesheet" type="text/css" />
     
     <!-- third party css end -->
     <script src="resources/views/assets/js/q.js" charset="UTF-8"></script>
     <script src="resources/views/assets/js/wgssStuSdk.js" charset="UTF-8"></script>

    <link rel="stylesheet" href="resources/views/assets/css/tagify.css">
    <script src="resources/views/assets/js/tagify.min.js" charset="UTF-8"></script>
     
    <!--Page title-->
    <title>{{title}}</title>
</head>
    {{content}}
</html>