<tr>
    <td>
        <div class="d-flex align-items-center">
            <div class="flex-shrink-0">
                <img class="rounded-circle" src="resources/views/assets/images/users/usermilitary.png" alt="Avtar image" width="33">
            </div>
            <div class="flex-grow-1 ms-2">
                {{patente}} {{nome}}
            </div>
        </div>
    </td>
    <td>{{subunidade}}</td>
    <td>{{tipo}}</td>
    <td>
        <span class="text-primary fw-semibold">{{numero}}</span>
    </td>
    <td>
        {{contacto}}
    </td>
</tr> <!-- end tr -->