<div class="container__principal">
    <div class="container__login">
        <div class="login__logo">
            <div class="logo_image">
                <img src="resources/views/login/images/logo_oficial.png" alt="">
            </div>
        </div>
        <div class="login__form">
            <div class="title__login">
                <p>Acessar</p>
                <hr>
            </div>
            <div class="form__container">
                <form action="" class="login-form" method="POST">
                    <div class="form__title">
                        <p>Para começar a operar no sistema, por favor coloque as suas credecncias abaixo. </p>
                    </div>
                    <div class="form__group">
                        <fieldset>
                            <legend>Utilizador</legend>
                            <input type="text" name="text_utilizador" required />
                        </fieldset>
                    </div>
                    <div class="form__group">
                        <fieldset>
                            <legend>Senha</legend>
                            <input type="password" name="text_password" required />
                        </fieldset>
                    </div>
                    <div class="form__group__buttons">
                        <div class="buttons__reset_password">
                            <a href="#">Esqueceu a senha?</a>
                        </div>
                        <div class="buttons__submit">
                            <button type="submit" class="login-button">Acessar</button>
                        </div>
                    </div>
                    <div class="separator">
                        <hr class="hr-text" data-content="&copy; Direitos">
                    </div>
                    <div class="copy_rights">
                        <p>DCinf &copy; 2024 - <span id="year"></span>. Todos direitos reservados.</p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{{status}}