<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/views/error/style.css">
    <link rel="stylesheet" href="../resources/views/error/style.css">
    <link rel="stylesheet" href="../../resources/views/error/style.css">
    <link rel="stylesheet" href="css/font.css">
    <title>Error </title>
</head>
<body>
    <div class="error">
        <p>Parece que a pagina nao existe</p>
        <h6>Error code</h6>
        <h1>4<strong>0</strong>4</h1>
        <a href="{{URL}}">Pagina Inicial</a>
    </div>
</body>
</html>